/* livvic-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/livvicmedium.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/livvicmedium.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       }
/* livvic-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Livvic';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/livvicmediumitalic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/livvicmediumitalic.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       }
/* livvic-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/livvicsemibold.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/livvicsemibold.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       }
/* livvic-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/livvicbold.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/livvicbold.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
     }

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Livvic';
  /* font-family: serif; */
  /* font-weight: 700; */
  
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list_unstyle {
  list-style: none;
  padding-left: 0;
  margin-block: 0;
}

.container {
  width:1150px;
  margin-inline: auto;
  padding-inline: 20px;
}

.site_header {
  padding-block: 70px;
  background-color: #014e56;
}

.header_inner {
  display: flex;
  align-items: center;
}

.site_logo {
  margin-right: 80px;
}

[href] {
  text-decoration-line: none;
}

.site_nav {
  margin-right: auto;
}

.site_nav_list,.footer_list {
  display: flex;
  gap: 40px;
}

.site_nav_link, .footer_link {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px; 
}

.contact_us {
  padding: 10px 32px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px; 
  border-radius: 24px;
  border: 2px solid #fff;
}

.hero {
  position: relative;
  padding-top: 60px;
  padding-bottom: 250px;
  background-color: #014e56;
}
.hero::before {
  position: absolute;
  right: calc(50% + 630px);
  display: inline-block;
  width: 200px;
  height: 200px;
  background-image: url("../images/herong.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";

}

.hero::after {
  position: absolute;
  bottom: 0px;
  left: calc(50% + 200px);
  display: inline-block;
  width: 358px;
  height: 100px;
  background-image: url("../images/heroafterbg.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.hero_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper_hero_title {
  width: 600px;
}
.hero_title {
  margin: 0;
  color: #fff;
  font-size: 100px;
  line-height: 100px; 
}
.hero_title > span {
  color: #f67e7e;
}

.wrapper_hero_desc {
  width: 445px;
}
.line {
  display: inline-block;
  width: 50px;
  height: 4px;
  background: #79c8c7;
  margin-bottom: 80px;
}
.hero_desc {
  margin: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
}

.build {
  position: relative;
  padding-top: 200px;
  padding-bottom: 140px;
  background-color: #012F34;
}
.build::after {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: calc(50% + 600px);
  width: 200px;
  height: 244px;
  background-image: url("../images/buildafter.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}
.build_inner {
  display: flex;
  justify-content: space-between;
}

.build_title {
  margin: 0;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px; /* 100% */
}

.wrapper_build_title {
  position: relative;
  width: 445px;
}

.wrapper_build_title > .line {
  position: absolute;
  top: -54px;
  margin-bottom: 0;
  background-color: #f67e7e;
}

.build_list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  width: 445px;
}
.build_item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.build_item::before {
  position: absolute;
  left: -85px;
  top: 8px;
  display: inline-block;
  width: 72px;
  height: 72px;
  background-image: url("../images/individual.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";

}

.build_item:nth-child(2):before {
  background-image: url("../images/implement.svg");
}
.build_item:nth-child(3):before {
  background-image: url("../images/productivity.svg");
}


.build_item_title {
  margin: 0 0 16px;
  color: #f67e7e;
  font-size: 18px;
  line-height: 28px; /* 155.556% */
}

.build_item_desc {
  margin: 0;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px; /* 166.667% */
  opacity: 0.8;
}

.delivering {
  position: relative;
  padding-block: 140px;
  background-color:#004047;

}
.delivering::before {
  position: absolute;
  top: 0;
  right: calc(50% + 600px);
  display: inline-block;
  width: 147px;
  height: 100px;
  background-image: url("../images/deliveringbefore.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: " ";
}
.delivering::after {
  position: absolute;
  bottom: 0;
  left: calc(50% + 520px);
  display: inline-block;
  width: 200px;
  height: 100px;
  background-image: url("../images/deliveringafter.svg ");
  background-repeat: no-repeat;
  background-position: center;
  content: " ";
}
.wrapper_delivering_title {
  width: 932px;
  margin-inline: auto;
  margin-bottom: 56px;
  
}
.delivering_title {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 48px;
  line-height: 48px; 
}
.delivering_title > span {
  color: #79C8C7;
}

.delivering_list {
  display: flex;
  gap: 30px;
  align-items: center;
}
.delivering_item {
  padding-top: 36px;
  padding-inline: 10px;
  text-align: center;
  background-image: url("../images/itemicon.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
}
.delivering_item::after {
  display: inline-block;
  width: 67px;
  height: 67px;
  background-image: url("../images/kady.png");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}
.delivering_item:nth-child(2):after {
  background-image: url("../images/aiysha.png");
}
.delivering_item:nth-child(3):after {
  background-image: url("../images/arthur.png");
}

.delivering_item_text {
  margin: 0 0 24px;
  color: #FFF;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px; /* 166.667% */
}

.worker_name {
  margin: 0;
  color: #79C8C7;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
}
.worker_type {
  margin: 0 0 32px;
  color: #fff;
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  line-height: 18px; /* 138.462% */
}

.ready {
  padding-block: 75px;
  background-color: #f67e7e;
  background-image: url("../images/readybefore.svg");
  background-repeat: no-repeat;
  background-position-x: calc(50% - 640px);
  background-position-y: bottom;
}

.ready_inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 260px;
}
.ready_title {
  margin: 0;
  color: #012f34;
  font-size: 48px;
  line-height: 48px; /* 100% */
}
.ready_inner > .contact_us {
  color: #012F34;
  border: 2px solid #012F34;
}

.site_footer {
  padding-block: 48px;
  background: #002529;

}

.footer_inner {
  display: flex;
  justify-content: space-between;
}

.footer_address {
  color: #fff;
  opacity: 0.6;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 166.667% */
}

.footer_icon_list {
  display: flex;
  justify-content: end;
  gap: 12px;
  margin-bottom: 50px;

}

.footer_text {
  color: #fff;
  text-align: right;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px; /* 166.667% */
  opacity: 0.6;
}